
<div class="container cont3">
    <div layout="row"  ng-if="loading"  layout-sm="column"  layout-align="space-around">
      <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-warn md-hue"></md-progress-circular>
    </div>
<div class  ="row">
  <div class="col-md-4 " ng-repeat="d in data">
    <div class="col-md-12 article">
      <h3>HeadLine : {{d.headline}}</h3>
             <h4>Author : {{d.author}}</h4>
            <h4>Category : {{d.category}}</h4>
         <md-button class="md-raised md-primary" ng-click="read(d)">Read</md-button>
      </div>
      </div>
    </div>
</div>


