<div class="container cont3">
    <div layout="row" ng-if="loading" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-warn md-hue"></md-progress-circular>
    </div>
    <form name="editForm" ng-submit="sendData(data[0])">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Author</label>
                <input required ng-model="data[0].author" name="author">
                <div ng-messages="editForm.author.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Headline</label>
                <input required ng-model="data[0].headline" name="headline">
                <div ng-messages="editForm.headline.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <br/>
            <md-input-container class="cor" class="md-block" flex-gt-xs>
                <label>Category</label>
                <md-select required ng-model="data[0].category" class="cor" name="category">
                    <md-option value="" >Choose</md-option>
                    <md-option value="education" >education</md-option>
                    <md-option value="health">health</md-option>
                    <md-option value="sport">sport</md-option>
                    <md-option value="food" >food</md-option>
                    <md-option value="nature" >nature</md-option>
                    <md-option value="social" >social</md-option>
                    <md-option value="politics" >politics</md-option>
                    <md-option value="religion">religion</md-option>
                    <md-option value="space" >space</md-option>
                    <md-option value="science" >science</md-option>
                    <md-option value="art" >art</md-option>
                </md-select>
                <div ng-messages="createForm.category.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <md-input-container class="md-block ">
            <label>Article</label>
            <div class="area">
                <div>
                    <textarea ng-model="data[0].content" name="content" required></textarea>
                    <div ng-messages="editForm.article.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </div>
            </div>
        </md-input-container>
        <div>
            <md-button type="submit" class="md-raised md-primary">Edit</md-button>
        </div>
    </form>
</div>