<div class="carousel-container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner ">
                    <div class="item active"> <img src="/img/home.jpg" alt="First slide"> </div>
                    <div class="item"> <img src="/img/create.jpg" alt="Second slide"> </div>
                    <div class="item"> <img src="/img/edit.jpg" alt="Third slide"> </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="carousel-caption">
                <h1>All you can know</h1>
                <h4>This is a site for browsing useful articles. We provide free service for browsing and creating articles. 
                        Submit your high-quality, riginal articles for more exposure, credibility and traffic.</h4> </div>
        </div>
    </div>
</div>
<div id="push"> </div>
<div class="container cont2">
    <div class="row">
        <div class="col-md-4">
            <h2>Education</h2>
            <p>A quarterly section devoted to higher education, with articles about policy, student life, financial aid and other issues important to the college experience. </p>
            <p>
                <a ui-sref="articles({category: 'education'})" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Healthcare</h2>
            <p>The latest healthcare news articles, healthcare management news, and healthcare industry news from AMN Healthcare.</p>
            <p>
                <a ui-sref="articles({category: 'healthcare'})" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Sport</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a ui-sref="articles({category: 'sport'})" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Food</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a ui-sref="articles({category: 'education'})" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Nature</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Social</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Politics</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Religion</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Space</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Science</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Art</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>News</h2>
            <p>Read breaking Sports News and Results of AFL, NRL, Cricket, Soccer, Rugby Union, Basketball, Cycling, Tennis, Golf and Motorsports. Click the link to get the ...</p>
            <p>
                <a href="#/articles/{{healthcare}}" ng-click="ask(healthcare)" role="button">
                    <md-button class="md-raised md-primary">View details &raquo;</md-button>
                </a>
            </p>
        </div>
    </div>
</div>